{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <body>
            <div class="header">
                <div style="text-align: center; background-color:seagreen;"
            <font face = "Comic sans MS" size =" 5"><h1>BLOG</h1></font><br/>
            <a href="/" style="color:black;"> home </a>
            <a href="/create" style="color:black;"> create </a>
            <a href="/about" style="color:black;"> about </a>
           
                </div>
            </div>
            <div class="main" >
                 <div style="text-align: left; background-color:lightgrey;"></div>
            </div>
                {%block main%}
                {%endblock%}
            </div>
            <div class="footer">
                    <div style=" background-color:lightsalmon;"></div>
            </div>
        </body>
    </head>
</html>